.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  /* .header-main__left */
  &__left {}
  /* .header-main__logo */
  &__logo {
    font-family: 'SFProSemibold';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
  }
  /* .header-main__right */
  &__right {}
  /* .header-main__list */
  &__list {
    display: flex;
    align-items: center;
  }
  /* .header-main__item */
  &__item {
    margin: 0 0 0 40px;
  }
  /* .header-main__link */
  &__link {
    display: flex;
    align-items: center;

    font-family: 'SFProMedium';
    font-weight: 500;
    font-size: 14px;
    line-height: 58px;
    color: #15141A;
    span {
      line-height: 58px;
      margin: 0 5px 0 0;
    }
    img {
      width: 18px;
      height: 18px;
    }
  }
}
